{% extends "blog/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="">Requerimientos</a><br><br>
        <small class="text-muted">
          <table border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="226" valign="top"><p><strong>Identificación del    requerimiento:</strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>RF01</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Nombre del Requerimiento:</strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>Autentificación de Usuario con    cuenta establecida.</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Características:</strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>Los usuarios deberán    identificarse para acceder a cualquier de las funciones sistema.</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Descripción del    requerimiento:</strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>El sistema podrá ser consultado    por cualquier usuario dependiendo del módulo en el cual se encuentre.</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Requerimiento NO    funcional:</strong><strong> </strong></p></td>
              <td width="435" valign="top"></td>
            </tr>
            <tr>
              <td width="661" colspan="2" valign="top"><p><strong>Prioridad del requerimiento:</strong><br />
                Alta </p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Identificación del    requerimiento:</strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>RF02</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Nombre del Requerimiento:</strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>Registrar Usuarios.</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Características:</strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>Los usuarios deberán    registrarse en el sistema para acceder a cualquier parte del sistema. </p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Descripción del    requerimiento:</strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>El sistema permitirá al usuario    (persona, empresa) registrarse. El usuario debe suministrar datos como: ID,    Nombre, Apellido, E-mail, Usuario y Password.</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Requerimiento NO    funcional:</strong><strong> </strong></p></td>
              <td width="435" valign="top"></td>
            </tr>
            <tr>
              <td width="661" colspan="2" valign="top"><p><strong>Prioridad del requerimiento:</strong><br />
                Alta </p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Identificación del    requerimiento: </strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>RF05</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Nombre del    Requerimiento: </strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>Consultar    Información.</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Características: </strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>El sistema ofrecerá al    usuario información general acerca de sus equipos asociados.</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Descripción del    requerimiento:</strong><strong> </strong></p></td>
              <td width="435" valign="top"><p><strong><u>Mostrar Información del Equipo:</u></strong> mostrando ID,    nombre, características de hardware, sistema operativo y hora de ultimo    escaneo.</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Requerimiento NO    funcional: </strong><strong> </strong></p></td>
              <td width="435" valign="top"></td>
            </tr>
            <tr>
              <td width="661" colspan="2" valign="top"><p><strong>Prioridad del requerimiento:     </strong><br />
                Alta</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Identificación del    requerimiento: </strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>RF03</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Nombre del Requerimiento: </strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>Perfil de usuario.</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Características: </strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>El sistema ofrecerá al usuario información general    del estado su cuenta. </p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Descripción del    requerimiento:</strong><strong> </strong></p></td>
              <td width="435" valign="top"><p><strong><u>Consultar Información de Usuario:</u></strong> tipo de cuenta, cantidad de equipos asociados,    límite de equipos permitidos.</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Requerimiento NO    funcional: </strong><strong> </strong></p></td>
              <td width="435" valign="top"></td>
            </tr>
            <tr>
              <td width="661" colspan="2" valign="top"><p><strong>Prioridad del requerimiento:     </strong><br />
                Alta </p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Identificación del    requerimiento:</strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>RF04</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Nombre del Requerimiento:</strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>Vista de equipos</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Características:</strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>Los usuarios podrán acceder al    historial de su cuenta y ver las características de los equipos asociados.</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Descripción del    requerimiento:</strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>El usuario podrá ver las    características individuales de cada equipo.</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Requerimiento NO funcional:</strong><strong> </strong></p></td>
              <td width="435" valign="top"></td>
            </tr>
            <tr>
              <td width="661" colspan="2" valign="top"><p><strong>Prioridad del requerimiento:</strong><br />
                Alta </p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Identificación del    requerimiento:</strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>RF08</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Nombre del Requerimiento:</strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>Eliminar equipos del registro</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Características:</strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>Eliminar registro de uno o    varios equipos</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Descripción del    requerimiento:</strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>El usuario podrá eliminar los    registros de los equipos que se hayan retirado de la pertenencia de este</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Requerimiento NO    funcional:</strong><strong> </strong></p></td>
              <td width="435" valign="top"></td>
            </tr>
            <tr>
              <td width="661" colspan="2" valign="top"><p><strong>Prioridad del requerimiento:</strong><br />
                Alta </p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Identificación del    requerimiento:</strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>RF06</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Nombre del Requerimiento:</strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>Generar reportes</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Características:</strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>Generar reportes de    inventariado</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Descripción del    requerimiento:</strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>El usuario podrá generar un    reporte de inventariado de los equipos registrados.</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Requerimiento NO    funcional:</strong><strong> </strong></p></td>
              <td width="435" valign="top"></td>
            </tr>
            <tr>
              <td width="661" colspan="2" valign="top"><p><strong>Prioridad del requerimiento:</strong><br />
                baja </p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Identificación del    requerimiento:</strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>RF07</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Nombre del Requerimiento:</strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>Crear Usuarios</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Características:</strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>Creación de usuarios administradores    (solo usuarios empresa)</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Descripción del    requerimiento:</strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>El usuario podrá generar    cuentas de usuarios para posibles colaboradores de su área.</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Requerimiento NO    funcional:</strong><strong> </strong></p></td>
              <td width="435" valign="top"></td>
            </tr>
            <tr>
              <td width="661" colspan="2" valign="top"><p><strong>Prioridad del requerimiento:</strong><br />
                media </p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Identificación del    requerimiento:</strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>RF09<u></u></p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Nombre del Requerimiento:</strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>Alertas de errores</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Características:</strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>El sistema dará una alerta de    error</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Descripción del    requerimiento:</strong><strong> </strong></p></td>
              <td width="435" valign="top"><p>El sistema dará una alerta    cuando este detecte un problema cuando se este en el proceso de escaneo</p></td>
            </tr>
            <tr>
              <td width="226" valign="top"><p><strong>Requerimiento NO    funcional:</strong><strong> </strong></p></td>
              <td width="435" valign="top"></td>
            </tr>
            <tr>
              <td width="661" colspan="2" valign="top"><p><strong>Prioridad del requerimiento:</strong><br />
                alta</p></td>
            </tr>
          </table>
        </small>
      </div>
    </div>
  </article>

{% endblock content %}
